<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714342010864-3uru4eb8d16j7g0ils64tj7h8dfj096c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714342010864-3uru4eb8d16j7g0ils64tj7h8dfj096c</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Q4T41Ftx7EiOGv-zuve3rEHCBMZC-XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>714342010864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.swiftisland.app</string>
	<key>PROJECT_ID</key>
	<string>swiftisland-fc283</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftisland-fc283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:714342010864:ios:bd4f0fb9ca46f636089735</string>
</dict>
</plist>
